<header aria-label="Site Header " style="font-family: Lobster-Regular, sans-serif">
  <div class="mx-auto w-full px-4 sm:px-6 lg:px-20 lg:px-60 navigation">
    <div class="flex h-32 items-center justify-between">
      <div class="flex-1 lg:flex lg:items-center lg:gap-12">
        <a class="block text-teal-600" href="/">
          <img class="h-24 w-full" src="assets/images/Color%20logo%20-%20no%20background.svg">
        </a>
      </div>
<!-------Item------------>
      <div class="lg:flex md:mr-10 lg:items-center lg:gap-12 mr-4">
        <nav aria-label="Site Nav" class=" lg:block z-50">
          <ul class="flex items-center gap-6 text-sm">
            <li *ngFor="let item of items">
              <a class="text-white text-xl transition hover:text-gray-700"
              [href]="item.url">
                {{item.item}}
              </a>
            </li>
          </ul>
        </nav>
<!----------Button Desktop----------->
<!--        <div class="flex items-center gap-4">-->
<!--          <div class="sm:flex sm:gap-4">-->
<!--            <a-->
<!--              class="rounded-md bg-teal-600 px-5 py-2.5 text-sm font-medium text-white shadow"-->
<!--              href="/">-->
<!--              Login-->
<!--            </a>-->

<!--            <div class="hidden sm:flex">-->
<!--              <a-->
<!--                class="rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-teal-600"-->
<!--                href="/">-->
<!--                Register-->
<!--              </a>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>
    </div>
  <img src="assets/images/curve.svg">
</header>
