<header class="pb-10">
  <div class="mx-auto w-full px-4 lg:px-60 lg:pt-10 navigation">
    <div class="flex items-center justify-between">
      </div>
      <div class="mx-auto text-center pb-2 lg:pb-5">
       <a href="">
         <h3 class="text-gray-900 text-2xl lg:text-6xl mx-auto underline underline-offset-1">My Culinary Book</h3>
       </a>
      </div>
        <nav class="lg:w-1/2 mx-auto text-center">
          <ul class="grid grid-cols-3 text-sm lg:text-base">
            <li *ngFor="let item of items">
              <a class="text-gray-900 relative before:absolute before:-bottom-1 before:h-0.5 before:w-full before:origin-left before:scale-x-0 before:bg-gray-900 before:transition hover:before:scale-100"
              [href]="item.url">
                {{item.item}}
              </a>
            </li>
            <li class="lg:pr-5">
            <a class="text-gray-900 relative before:absolute before:-bottom-1 before:h-0.5 before:w-full before:origin-left before:scale-x-0 before:bg-gray-900 before:transition hover:before:scale-100" href="/recipe/add">Dodaj przepis</a>
            </li>
          </ul>

        </nav>
    </div>
</header>
