.navigation {
  background-color: #B2D3C2;
}
.custom-shape-divider-top-1666779241 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1666779241 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 500px;
}

.custom-shape-divider-top-1666779241 .shape-fill {
  fill: #B2D3C2;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1666779241 svg {
    width: calc(100% + 1.3px);
    height: 233px;
  }
}
