<header style="font-family: Lobster-Regular, sans-serif">
  <div class="mx-auto w-full px-4 lg:px-60 navigation">
    <div class="flex h-32 items-center justify-between">
      <div class="flex items-center">
        <a class="block text-teal-600" href="/">
          <img  alt="img" class="h-24 w-full mx-auto" src="assets/images/Color%20logo%20-%20no%20background.svg">
        </a>
      </div>
        <nav>
          <ul class="flex items-center gap-6 text-sm">
            <li *ngFor="let item of items">
              <a class="text-white text-xl transition hover:text-gray-700"
              [href]="item.url">
                {{item.item}}
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  <img alt="img" src="assets/images/curve.svg" class="lg:w-full hidden lg:block">
</header>
