<div class='grid h-screen place-content-center bg-white' id=''>
  <p class='uppercase tracking-widest text-gray-500'>404 | Not Found</p>
  <a
    class='mt-6 inline-block rounded px-5 py-3 text-sm font-medium text-white bg-green-700 text-center'
    href='#home'>
    Go Back Home
  </a>
  <img class="lg:visible lg:z-0 invisible opacity-25 h-2/3" src="assets/images/Fresh-vegetables-and-fruits-illustration-on-transparent-background-PNG.png"
       style="position:absolute; top: 50%; left: 50%; transform: translateX(-50%);">
</div>
