<!--{{recipe | json}}-->
<section>
  <img class="md:visible md:z-0 invisible " src="assets/images/pngaaa.com-782580.png"
       style="position:absolute; top: 1%; left: 50%; transform: translateX(-50%);">
</section>

<div class="grid overflow-hidden grid-rows-2 w-12/12 h-auto">
  <div class="box row-start-1 row-end-1 col-start-1 col-end-2">
    <img [src]="URL_PREFIX + recipe?.imageUrl" class="h-64 w-64 rounded-md object-cover"/>

    <div class="space-y-4 lg:pt-8 ">
      <div>
        <h3 class="font-bold mb-3 md:text-xl">Poziom trudności:</h3>
        {{recipe?.level}}
      </div>
      <div>
        <h3 class="font-bold mb-3 md:text-xl">Czas przygotowania:</h3>
        {{recipe?.prepareTime + 'min'}}
      </div>

      <!--   INGREDIENCE   -->
      <div>
        <h3 class="font-bold mb-3 md:text-xl">Składniki:</h3>
        <ul>
          <li *ngFor="let ingredient of recipe?.ingredients" class="mb-2">
            - {{ingredient.name + ' ' + ingredient.capacity + ' ' + ingredient.capacityType}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="box row-start-1 row-end-1 col-start-2 col-end-4">
    <div class="mt-2 grid gap-8 relative pl-10">
      <h1 class="font-bold md:text-3xl text-center">
        {{recipe?.name}}
      </h1>
      <div>
        <h3 class="font-bold mb-3 md:text-xl">Opis:</h3>
        <p class="italic">
          {{recipe?.description}}
        </p>
      </div>
      <div>
        <h3 class="font-bold mb-3 md:text-xl">Kroki:</h3>
        <ul>
          <li *ngFor="let steps of recipe?.steps" class="mt-4 italic">
            {{steps.stepNumber + '.' + steps.description}}
          </li>
        </ul>
      </div>
      <!--      TAGS-->
      <div>
        <h3 class="font-bold md:text-xl mb-3">Tagi:</h3>
        <ul>
          <li *ngFor="let tags of recipe?.tags"
              class="group relative inline-block rounded-full bg-amber-400 p-3 ml-1 text-white text-sm">
            {{'#' + tags.name}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
