<footer aria-label="Site Footer" class="" style="background-color: #B2D3C2; font-family: Lobster-Regular, sans-serif">
      <div class="flex flex-wrap justify-center gap-4 text-sm ">
<img src="assets/images/Color%20logo%20-%20no%20background.svg" class="w-52 h-52 mt-8">
        <p class="md:mt-20 max-w-xs text-base text-center text-black">
          Śieć Ciobo specjalizuje się w robieniu dobrze podniebieniu.
          Nasze przepisy są starannie przygotowywane przez najlepszego szefa kuchni!
          Zapraszamy do zapoznania się z naszą receptą na dobry Humor.
        </p>
        <div class="justify-center gap-4 md:mt-28 ml-46">
          <a class="text-base text-white hover:text-black " href="mailto: faustyna.mika@gmail.com"> Contact </a>
          <a class=" text-base text-white hover:text-black ml-2" href=""> FAQs </a>
          <a class=" text-base text-white hover:text-black ml-2" href="https://myportfolio-ten-ruddy.vercel.app/"> Meet the Team </a>
        </div>
      </div>
  <p class="mx-10 text-gray-500 text-center p-1"> ©{{todayDate | date:'YYYY'}} Copyright:Faustyna Mika </p>
</footer>

