<footer style="background-color: #B2D3C2; font-family: Lobster-Regular, sans-serif">
  <div class="flex justify-center text-center mx-auto pt-10">
    <div class="grid grid-cols-1 text-base lg:w-full sm:grid-cols-3">
      <div class="mx-auto">
        <img alt="img" class="w-52 h-52 mt-8" src="assets/images/Color%20logo%20-%20no%20background.svg">
      </div>
      <div>
        <p class="mx-auto lg:pt-28">
          Śieć Ciobo specjalizuje się w robieniu dobrze podniebieniu.
          Nasze przepisy są starannie przygotowywane przez najlepszego szefa kuchni!
          Zapraszamy do zapoznania się z naszą receptą na dobry Humor.
        </p>
      </div>
      <div class="space-y-3 mx-auto py-5 lg:pt-28">
        <div class="flex justify-center space-x-3">
          <a class="flex items-center text-base text-white hover:text-black" href="mailto: faustyna.mika@gmail.com">
            Contact </a>
          <a class="flex items-center text-base text-white hover:text-black ml-2" href=""> FAQs </a>
          <a class="flex items-center text-base text-white hover:text-black ml-2"
             href="https://myportfolio-ten-ruddy.vercel.app/" target='_blank'> Meet the Team </a>
        </div>
      </div>
    </div>
  </div>
  <p class="mx-10 text-gray-500 text-center p-1"> ©{{todayDate | date:'YYYY'}} Copyright:Faustyna Mika </p>
</footer>

