/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, .root {
  height: 100%;
  min-height: 100%;
  font-family: Lobster-Regular, sans-serif;
}

@font-face {
  font-family: 'Russo One', sans-serif;
  src: url(assets/font/Baskervville-Regular.ttf) format("truetype");
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Baskervville', serif;
  text-transform: uppercase;
  background: #e5e5e5;

}
