<div class="w-full">
  <section>
    <img alt="img" class="lg:visible lg:z-0 invisible" src="assets/images/food-transparent-background-7.png"
         style="position:absolute; top: 8%; left: 50%; transform: translateX(-50%);">
    <h1 class="lg:block lg:z-10 hidden"
        style="font-family: Lobster-Regular, sans-serif; position:absolute; top: 5%; left: 50%; transform: translateX(-50%); font-size: 7rem; color: #f5faff">
      Wsuwaj<span class="lg:ml-20">Zdrowo</span>
    </h1>
    <img alt="img" class="basil hidden lg:block lg:z-0" src="assets/images/basil.png"
         style="position:absolute; top: 10%; left: 20%; transform: translateX(-50%);">
    <img alt="img" class="basil hidden lg:block  lg:z-0" src="assets/images/basil.png"
         style="position:absolute; transform: scaleX(-1); top: 10%; right:3%">
  </section>
  <section class="lg:mt-72">
    <p class="text-center text-4xl mb-10 text-yellow-500 pt-5" style="font-family: Lobster-Regular, sans-serif">Nasze
      Top
      4</p>
    <div class="grid lg:grid-cols-2 gap-8 mx-4 mb-4">
      <recipe-card *ngFor="let recipe of favouriteRecipes" [recipe]="recipe"></recipe-card>
    </div>
  </section>
</div>
